<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <a href="https://github.com/ricallinson/forgery"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <div class="main">
        {{{body}}}
    </div>
    <div class="footer">
        Hosted by <a href="http://code.google.com/appengine/">Google App Engine</a>
        using <a href="https://github.com/ricallinson/forgery">Forgery</a>,
        <a href="https://github.com/ricallinson/stackr">Stackr</a>,
        <a href="https://github.com/hoisie/mustache">Mustache</a>
        and <a href="https://github.com/russross/blackfriday">Blackfriday</a>
    </div>
  </body>
</html>