

html {
    line-height: 1.4em;
    font-family: "Open Sans", sans-serif;
}

h1 a {
    color: #222;
    text-decoration: none;
}

h2 {
    border-bottom: 1px solid #ccc;
}

h2, h3 {
    padding-top: 3em;
    padding-bottom: 0.5em;
}

p, li {
    color: #666;
}

p code {
    background: #efefef;
    border: 1px solid #eaeaea;
    padding: 2px 8px;
    -webkit-border-radius: 3px;
}

pre {
    color: #555;
    padding: 1.5em;
    border: 1px solid #ccc;
    overflow-x: hidden;
    -webkit-border-radius: 3px;
}

em {
    color: #000;
    font-style: normal;
    font-family: monospace;
}

.head {
    margin: 3% 5%;
}

.nav {
    float: right;
    margin-right: 80px;
}

.nav a {
    color: #999;
    text-decoration: none;
    padding: 0 0.3em;
}

.main {
    margin: 0 5%;
}

.footer {
    padding-top: 2em;
    text-align: center;
}